@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,500");

.text_center,
.App {
    text-align: center;
}

.btn {
    border: 1px solid #2196F3;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    background: none;
    outline: none;
    position: relative;
    transition: all .3s ease;
}

.btn--logout {
    border: 0;
}

.btn:hover {
    color: #2196F3;
}

a {
    margin: 0 10px;
    color: #000000;
    text-decoration: none;
    transition: all .3s ease-in-out;
    font-weight: 600;
}

a.active,
a:hover{
    color: #0b58ab;
}

@keyframes spinnerInner {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
}

.spinnerWrapper {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    background: transparent;
}

.spinnerWrapper--center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.spinnerInner {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.spinner {
    position: absolute;
    animation: spinnerInner 1s linear infinite;
    width: 80%;
    height: 80%;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #93dbe9;
    transform-origin: 40px 42px;
    box-sizing: content-box;
}