@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,500");

.text_center,
.App {
    text-align: center;
}

.btn {
    border: 1px solid #2196F3;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    background: none;
    outline: none;
    position: relative;
    transition: all .3s ease;
}

.btn:hover {
    color: #2196F3;
}

a {
    margin: 0 10px;
    color: #000000;
    text-decoration: none;
    transition: all .3s ease-in-out;
    font-weight: 600;
}

a.active,
a:hover{
    color: #0b58ab;
}